body {
  background-color: rgb(253, 251, 251);
  font-family: 'Dongle', sans-serif;
  font-size: 40px;
  line-height: 95%;
}

#cabecalho {
  top: 0;
  position: fixed;
  background-color : #036b52;
  width: 100%;
  margin: -10px;
  text-align: center;
}

#titulo {
  margin-bottom: -10px;
  margin-top: -5px;
  color: white;
  line-height: 100%;
}

#img {
  width: 100%;
  text-align: center;
  margin-top: 3%;
  border: ;
  background: url("img/apartamento-qualquer-banner-banner.gif") fixed no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

#minha_foto {
  height: 400px;
  border-radius: 90%;
  margin-top: 1%;
  text-align: center;
}

#licoes_aprendidas{
  display: inline-block;
}

#licoes_a_aprender{
  display: inline-block;
}