body {
  background-color: rgb(253, 251, 251);
  font-family: Dongle, serif;
  font-size: 40px;
  line-height: 95%;
}

table , th , td {
  border: 1px solid black;
}

#cabecalho {
  top: 0;
  position: fixed;
  background-color: rgb(57, 50, 104);
  text-align: center;
  width: 100%;
  margin: -10px;
  border: 0;
}

#titulo {
  margin-bottom: -10px;
  margin-top: 10px;
  color: white;
  line-height: 100%;
}

#img {
  text-align: center;
  padding: 0;
  width: 101.2%;
  margin: -10px;
  margin-top: 3%;
  border: 0;
  background: url('img/apartamento-qualquer-banner-banner.gif') fixed no-repeat;
  background-size: cover;
}

#minha_foto {
  height: 400px;
  border-radius: 90%;
  margin-top: 4%;
  text-align: center;
}


.lado-esquerdo {
  float: left;
}

.lado-direito {
  float: right;
}

#link_perfil {
  text-align: center;
  color: rgb(57, 50, 104);
  font-size: 60px;
  text-decoration: none;
}

#link_perfil:hover {
  color: blue;
}

#description {
  margin-top: 3%;
}

#tabela {
  width: 100%;
  margin-top: 5%;
  background-color: rgb(152, 142, 214);
}

#desc-aside {
  margin-top: 37%;
  text-align: center;
}

#rodape {
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  background-color: rgb(37, 37, 37);
}

#licoes_a_aprender {
  list-style: none;
  margin-right: 20%;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid rgb(57, 50, 104);
  border-style: dashed;
}

#licoes_aprendidas {
  list-style-type: decimal-leading-zero;
  margin-left: 20%;
  padding-left: 50px;
  padding-right: 5px;
  border: 2px solid rgb(57, 50, 104);
  border-style: dashed;
}

#links {
  text-align: center;
  margin-top: 1%;
  line-height: 50px;
  word-spacing: 10px;
}

#links , a {
  text-decoration: none;
  color: rgb(57, 50, 104);
}

#links , a:hover {
  color: blue;
}

.fab {
  font-size: 30px;
}
